@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

body {
    background: url(/img/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.caixa {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.float-right {
    margin-left: 40px;
    margin-right: 30px;
}

.imgQuiz {
    width: 100px;
    height: 100px;
}

.btn {
    display: flex;
    height: 100px;
    width: 180px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
}

.questions_box {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    max-width: 960px;
    width: 800px;
    position: relative;
}